# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
dub.selections.json

# Code coverage
*.lst

.out/

#Documentation
.doxygen_warn.log
docs/.out_*