[submodule "website"]
	path = website
	url = https://github.com/aurorafw/website
	pushurl = git@github.com:aurorafw/website.git
[submodule "sdk"]
	path = sdk
	url = https://github.com/aurorafw/sdk
	pushurl = git@github.com:aurorafw/sdk.git
[submodule "design"]
	path = design
	url = git@github.com:aurorafw/design.git
	pushurl = git@github.com:aurorafw/design.git
[submodule "src/bind-d"]
	path = src/bind-d
	url = git@github.com:aurorafw/bind-d.git
